{% extends 'flatpages/default.html' %}

{% block title %} Posts {% endblock title %}
 
{% block content %}
<h2>Вы действительно хотите удалить данный новость?</h2>
<table>
    <thead>
        <th>
            Название
        </th>
        <th>
            Дата публикации
        </th>
        <th>
            Содержание
        </th>
    </thead>
    <tr>
        <td>
            {{ post.post_name }}
        </td>
        <td>
            {{ post.category.name|title }}
        </td>
        <td>
            {{ post.price }}
        </td>
        <td>
            {{ post.quantity }}
        </td>
    </tr>
</table>
 
<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить"></form>
{% endblock content %} 